# ROS2 build artifacts
tabletennistrainer_ws/build/
tabletennistrainer_ws/install/
tabletennistrainer_ws/og/
tabletennistrainer_ws/log/
# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Storel

*.gv
*.pdf
